html, body{
  min-height:100vh;
  max-width:100%;
  font-size: 15pt;
}


/* Icons */
.icon{
  transition: all 0.4s ease-in-out;
  border-radius: 100%;
  border: solid 1px #fff;
  display: inline-block;
  font-size: 1.75em;
  height: 2.5em;
  line-height: 2.5em;
  position: relative;
  text-align: center;
  text-decoration:none;
  color:white;
  width: 2.5em;
}
#header nav li{
  animation: icon_ani 0.5s ease-out both;
}
section{
  display:block;
}

#who_i_am{
  width:100%;
  
  height:30em;
  position:relative;
  padding:2em 0em 2em 0em;
  margin:0;
  text-align:center;
  background-color:#2e3842;
  color:white;
  font-family:pulseFont;
  display:block;

}
#who_i_am #main_hi{
  width:60%;
  margin-top:10em;
  margin-left:20%;
  position:absolute;
}

#who_i_am li{
  width:4em;
  height:4em;
  transform: rotate(45deg);
  border-radius: 3px;
  border: solid 2px #fff;
  /*border-color: rgba(255, 255, 255, 0.25);*/
  text-align:center;
  position:absolute;
  text-align:center;
  color:white;
}

#who_i_am i{
  
  display: inline-block;
  font-size: 2em;
  line-height: 2em;
  transform: rotate(-45deg);
}

#who_i_am li:nth-child(1){
  left:60%;
  bottom:18%;
  border-color:#ffae00;
}
#who_i_am li:nth-child(2){
  right:70%;
  bottom:7%; 
  border-color:#d00bea;
}
#who_i_am li:nth-child(3){
  right:85%;
  top:25%;
  color:white;
  border-color:red;
}
#who_i_am li:nth-child(4){
  left:85%;
  top:40%;
  border-color:#3fea0b;
}
#who_i_am li:nth-child(5){
  left:48%;
  top:7%;
  border-color:#36f3f9;
}


#who_i_am #main_hi h2:after{
    position:relative;
    top:0.6em;
    content: '';
    display: block;
    height: 2px;
    width:100%;
    /*background-image:url("images/rainbow.png");
    background-size:cover;*/
    background-color:black;
    opacity:0.5;
}


#who_i_am #main_hi p{
  margin-top:2em;
  text-align: center;
  opacity:0.75;
}
#past_work{
  width:100%;
  display:flex;
  
  margin:0;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
}
#past_work article{
  height:25em;
  overflow:hidden;
  position: relative;
  margin:0;
  align-items: center;
  border: 0;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:1;
}
#past_work .title{
  color:white;
  z-index:3;
  position:absolute;
  display:block;
  top: 10em;
  left: 2em;
  font-family: pulseFont;
}

#past_work .title :first-child:after{
    content: '';
    background-color: #ffffff;
    display: block;
    height: 2px;
    margin: 0.325em 0 0.5em 0;
    width: 100%;
}





  







#past_work article:hover:after{
	opacity: 0;
}

#past_work article::after{
				opacity:0.85;
				-moz-transition: opacity 0.5s ease;
				-webkit-transition: opacity 0.5s ease;
				-ms-transition: opacity 0.5s ease;
				transition: opacity 2s ease;
				content: '';
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 2;
}
#past_work  article .image{
  width:100%;
  height:100%;
  position:relative;
  top:0;
  left:0;
  overflow:hidden;
  opacity:1;
  z-index:0;
  
}
#past_work article .image img{
  height:auto;
  width:100%;
}

#past_work article::before{
  background:  #000000;
	bottom: 0;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0.5;
	position: absolute;
	width: 100%;
	z-index: 1;
}

#past_work article:nth-child(1){
  width:60%;
  background-image: url("images/ledgrid.jpeg");
}
#past_work article:nth-child(1):after{
  background-color: #6fc3df; 
}

#past_work article:nth-child(2):after{
  background-color: #8d82c4; 
}
#past_work article:nth-child(2){
  width:40%;
  background-image: url("images/vending.jpg");
}

#past_work article:nth-child(3){
  width:40%;
  background-image: url("images/robot.jpg");
}
#past_work article:nth-child(3):after{
  background-color: #ec8d81; 
}

#past_work article:nth-child(4){
  width:60%;
  background-image: url("images/display.jpg");
}
#past_work article:nth-child(4):after{
  background-color: #e7b788;
}


#header nav li:nth-child(1){
  animation-delay:3.5s;
}
#header nav li:nth-child(2){
  animation-delay:3.75s;
}
#header nav li:nth-child(3){
  animation-delay:4s;
}
ul{
  list-style:none;
  padding:0;
}
#header nav li{
  text-decoration:none;
  height:5.35em;
  width:5.35em;
  line-height: 5.885em;
  display:inline-block;
  position:relative;
  top:0;
  
}

.icon::before{
  position:relative;
  top:0em;
  opacity:0; 
}
.icon:hover{
  font-size:2em;
  background-color: rgba(255, 255, 255, 0.175);
}

.icon:active{
  background-color: rgba(255,255,255,0.35);
  font-size:1.75em;
}





@keyframes icon_ani{
  0%{
    top:1em;
    opacity:0;
  }
  100%{
    opacity:1;
    top:0px;
  }
}


.page_wrapper{
  
  opacity: 0;
  margin:0;
  display:block;
  width: 100%;
  
  animation: intro 3s forwards;
}


/* intro */

.intro{
  height: 100vh;
  position:relative;
  opacity: 1;
  
  display:block;
  width: 100%;
  overflow:hidden;
  
}

#overlay{

  background-image: url("images/overlay-pattern.png"), url("images/overlay.svg");
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  animation: overlay 2.5s 1.25s forwards;
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  z-index:1;
}

@keyframes overlay{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}	

@keyframes intro{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

#bg{
  
  height:100%;
  width:6000px;
  background:  #000000 url("images/rainbow.jpg") bottom left;
  background-repeat: repeat-x;
  background-size: 2000px auto;
  animation: slide 60s linear infinite;
}

@keyframes slide{
  0%{
    transform: translate3d(0,0,0);
  }
  100%{
    transform: translate3d(-2000px,0,0);
  }
}


/* Main */

#main {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;	
  z-index:2;
}

  #main:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;

  }


/* Header */

#header{
  color:white;
  display: inline-block;
  font-family: pulseFont;
  width: 90%;
  position: relative;
  vertical-align: middle;
  text-align:center;
  margin:0;
  padding:0;
  opacity:0;
  animation:header 1.5s 2.5s forwards;
}

  #header h1{
    font-size: 4.35em;
    font-weight: 900;
    letter-spacing: 0.1em;
    line-height: 1em;
    margin:0;
    margin-bottom:0.1em;
    padding:0;
    opacity:1;   
  }
  #header p{
    margin: 1em 0 0.25em 0;
    font-size:1.0em;
    opacity:0.75;
  }
  @keyframes header{
    0%{
      top:2em;
      opacity:0;
    }
    100%{
      top:0px;
      opacity:1;
    }
  }
 
  #header nav{
    margin:1.5em 0 0 0;
  }





/* Fonts*/

@font-face {
    font-family: pulseFont;
    src: url("../fonts/Roboto-Medium.ttf");

}






